<html>
<head>
	<title> Tree game home page </title>
</head>
{% load static %}
<link rel ="stylesheet" href="{%static '/home/newpassword.css'%}">
<body>
	<div class = "banner">
        <nav>
            <img src="{%static '/home/images/transparent.png'%}" class="logo">  
            <ul>
                <li><a href="/tree">My Tree</a></li>
                <li><a href="/map">Map</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/settings">Settings</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
            <img src="{%static '/home/images/transparent.png'%}" class="logo">
        </nav>
        <br>
        <br>
        <br>
        <h1 class = "delete_account_h1">
            Bottle Size
        </h1>
        <br>
        <br>
        <h2 class = "delete_account_h2"> 
            Please set your bottle size below:
        </h2>

        <h4 class = "password_text"> 
            Bottle Size: (ML)
            <input type = "text">
        </h4>
    </div>
</body>
</html>

