
<html>
<head>
	<title> Tree game home page </title>
	
</head>
{% load static %}
<link rel ="stylesheet" href="{%static '/home/homestyle.css'%}">
<body>
	<div class = "banner">
        <div class="content">
            <!-- Title of the webpage --> 
            <h1 class = "home"> BARK BUDDIES </h1>
            <div>
                <!-- Login button --> 
                <a href = "/login"><button type = "button"><span></span>Login</button></a>
                <!-- register button --> 
                <a href = "/register"><button type = "button"><span></span>Create account</button></a>
            </div>
        </div>
    </div>
</body>
</html>
