<html>
<head>
	<title> Tree game home page </title>
	<link rel ="stylesheet" href="style.css">
</head>
<body>
	<div class = "banner">
        <div class = "navbar">
            <ul>
                <li><a href="#">Extra</a></li>
                <li><a href="#">Buttons</a></li>
            </ul>
        </div>
        <div class="content">
                <div class = "wrapper"></div>
                    <h1> TREE GAME</h1>
                </div>
            <p> Home page/subtext <br> new line</p>
            <div>
             <button type = "button"><span></span>Login</button>
             <button type = "button"><span></span>Create account</button>
         </div>
    </div>
</div>

</body>
</html>
