<!DOCTYPE html>
<html>
<head>
  <title> Tree game home page </title>
</head>
{% load static %}
<link rel ="stylesheet" href="{%static '/home/homestyle.css'%}">
<body>
  <div class = "banner">
    <!-- navigation bar -->
        <nav>
            <img alt src="{%static '/home/images/transparent.png'%}" class="logo">  
            <ul>
                <li><a href="/tree">My Tree</a></li>
                <li><a href="/map">Map</a></li>
                <li class="page"><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/settings">Settings</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
            <img alt src="{%static '/home/images/transparent.png'%}" class="logo">
        </nav>

        <!-- div for the leaderboard table -->
        <div class="wrapper">
            <div class="lboard-section">
                <p class="buddy">BARK BUDDY LEADERBOARD</p>
                <div class="lboard-wrap">
                    <table>
                        <th>Username</th>
                        <th onclick="plasticSort()">Plastic</th>
                        <th onclick="oxygenSort()">Oxygen</th>
                      </tr>
                      {% for x in mymembers %}
                        <tr>
                          <td>{{ x.username }}</td>
                          <td>{{ x.plastic_saved }}</td>
                          <td>{{ x.oxygen }}</td>
                        </tr>
                      {% endfor %}  
                  </table>
                </div>
            </div>
        </div>
        <!-- Script for styling leaderboard table -->
        <script>
            var tabs = document.querySelectorAll(".lboard-tabs ul li");
            var plastic = document.querySelector(".plastic");
            var oxygen = document.querySelector(".oxygen");
            var items = document.querySelectorAll(".lboard-item");
            tabs.forEach(function(tab){
                tab.addEventListener("click", function(){
                    var currenttab = tab.getAttribute("data-li");
                    
    
                    tab.classList.add("active");
    
                    items.forEach(function(item){
                        item.style.display = "none";
                    })
                    if(currenttab == "plastic"){
                        plastic.style.display = "block";
                        plastic.style.color = "white";
                        oxygen.style.display = "block"
                    }
                    else if(currenttab == "oxygen"){
                        oxygen.style.display = "block";
                        plastic.style.display = "block";
                        
                    }
                })
            })
        </script>
            

        <!-- script for letting people sort leaderboard by conditions -->
        <script>
            //Function to insert values into the url
            function insertParam(key, value) {
                key = encodeURIComponent(key);
                value = encodeURIComponent(value);

                // kvp looks like ['key1=value1', 'key2=value2', ...]
                var kvp = document.location.search.substr(1).split('&');
                let i = 0;

                for (; i < kvp.length; i++) {
                    if (kvp[i].startsWith(key + '=')) {
                        let pair = kvp[i].split('=');
                        pair[1] = value;
                        kvp[i] = pair.join('=');
                        break;
                    }
                }

                if (i >= kvp.length) {
                    kvp[kvp.length] = [key, value].join('=');
                }

                // can return this or...
                let params = kvp.join('&');

                // reload page with new params
                document.location.search = params;
            }


            //Code for ordering of board
            function plasticSort(){
                insertParam("Sort", "Plastic")
            }

            function oxygenSort(){
                insertParam("Sort", "Oxygen")
            }

        </script>
    </div>        
</body>
</html>

