<html>
<head>
	<title> Tree game home page </title>
	<link rel ="stylesheet" href="loginstyle.css">
</head>
<body>
	<div class = "banner">
        <nav>
            <ul>
                <li><a href="home.html">Go back</a></li>
            </ul>
            <img src = "transparent.png" class = "logo">
        </nav>
        <div class="center">
            <h1> Login </h1>
            <form method = "post">
                <div class="login_text">
                    <input type = "text" required>
                    <span></span>
                    <label> Username</label>
                </div>
                <div class="login_text">
                    <input type = "password" required>
                    <span></span>
                    <label> Password</label>
                </div>
                <div class = "forgot_password">
                     Forgot password?
                </div>
                <input type = "submit" value = "Login">
                <div class="signup">
                    Not registered? <a href="createaccount.html"> Sign up now</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
