<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewpoint" content="width=devicewidth, intial-scale=1.0">
  <meta http-equiv="X-UA Compatatible" content="ie=edge">



  <title> My Google Map</title>
  <style>
    #map {
      height: 100vh;
      width: 100%;
    }
  </style>
</head>
{% load static %}
<link rel ="stylesheet" href="{%static '/home/map.css'%}">
<body>
    <nav>
        <img src= "{%static '/home/images/transparent.png'%}" class = "logo">
        <ul>
            <li><a href="/tree">My Tree</a></li>
            <li class="page"><a href="/map">Map</a></li>
            <li><a href="/leaderboard">Leaderboard</a></li>
            <li><a href="/about ">About</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
        <img src = "{%static '/home/images/transparent.png'%}" class = "logo">
    </nav>

  <div id="map"></div>

  <script>
    var location = {
      lat: position.coords.latitude,
      lng: position.coords.longitude,
    };

    //function to add values to the page url
    function insertParam(key, value) {
      key = encodeURIComponent(key);
      value = encodeURIComponent(value);

      // kvp looks like ['key1=value1', 'key2=value2', ...]
      var kvp = document.location.search.substr(1).split('&');
      let i = 0;

      for (; i < kvp.length; i++) {
        if (kvp[i].startsWith(key + '=')) {
          let pair = kvp[i].split('=');
          pair[1] = value;
          kvp[i] = pair.join('=');
          break;
        }
      }

      if (i >= kvp.length) {
        kvp[kvp.length] = [key, value].join('=');
      }

      // can return this or...
      let params = kvp.join('&');

      // reload page with new params
      document.location.search = params;
    }

    function initMap() {

      const uluru = { lat: 50.7371, lng: -3.5351 };

      const map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: uluru,
      });
      // The marker, positioned at Uluru
      const uniofexeter = new google.maps.Marker({

        position: uluru,
        map: map,
      });
      const marker2 = new google.maps.Marker({

        position: { lat: 50.73523, lng: -3.53436 },
        map: map,
      });
      const swiot = new google.maps.Marker({

        position: { lat: 50.7379154, lng: -3.5304512 },
        map: map,
      });
      const harrison = new google.maps.Marker({

        position: { lat: 50.7373301, lng: -3.53292 },
        map: map,
        });
        const forum1 = new google.maps.Marker({

          position: { lat: 50.7351674, lng: -3.5334626 },
          map: map,
        });
        const forum2 = new google.maps.Marker({

          position: { lat: 50.7351196, lng: -3.53341 },
          map: map,
        });
        const libray1 = new google.maps.Marker({

          position: { lat: 50.7353704, lng: -3.5333534 },
          map: map,
        });
        const libray2 = new google.maps.Marker({

          position: { lat: 50.7353704, lng: -3.5333534 },
          map: map,
        });
        const libray3 = new google.maps.Marker({

          position: { lat: 50.7353704, lng: -3.5333534 },
          map: map,
        });
       
        


      infoWindow = new google.maps.InfoWindow();

      const locationButton = document.createElement("button");

      locationButton.textContent = "Pan to Current Location";
      locationButton.classList.add("custom-map-control-button");
      map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
      locationButton.addEventListener("click", () => {
        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            (position) => {
              const pos = {
                lat: position.coords.latitude,
                lng: position.coords.longitude,
              };


              infoWindow.setPosition(pos);
              infoWindow.setContent("Location found.");
              infoWindow.open(map);
              map.setCenter(pos);



              insertParam("cords:", String(pos.lat) + "," + String(pos.lng))
            },
            () => {
              handleLocationError(true, infoWindow, map.getCenter());
            }
          );
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }






      });



    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(
        browserHasGeolocation
          ? "Error: The Geolocation service failed."
          : "Error: Your browser doesn't support geolocation."
      );
      infoWindow.open(map);
    };



    window.initMap = initMap;
  </script>
  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgpm97bbMfifqwJ2jYrXBrQDCWqWg-P38&callback=initMap">
    </script>
  <script async src="https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyAgpm97bbMfifqwJ2jYrXBrQDCWqWg-P38">

  </script>
</body>

</html>