<html>
<head>
	<title> Tree game home page </title>
</head>
{% load static %}
<link rel ="stylesheet" href="{%static '/home/newpassword.css'%}">
<body>
	<div class = "banner">
        <!-- navigation bar -->
        <nav>
            <img src="{%static '/home/images/transparent.png'%}" class="logo">  
            <ul>
                <li><a href="/tree">My Tree</a></li>
                <li><a href="/map">Map</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/settings">Settings</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
            <img src="{%static '/home/images/transparent.png'%}" class="logo">
        </nav>

        <!-- texting asking user to change email -->
        <h1 class = "delete_account_h1">
            Change Email:
        </h1>

        <!-- Getting the users input for a new email -->
        <h4 class = "password_text">
            New email:
            <input type = "text" id = "emailFirst">
        </h4>

        <br>
        <!-- confirming input for new email -->
        <h4 class = "password_text"> 
            Confirmation:
            <input type = "text" id = "emailSecond">
        </h4>

        <!-- submit button for the email -->
        <h2 class = "delete_account_button">
            <button onclick="writeEmail()" style="background-color: grey; color: black; border-color: grey;">Change Email</button>
        </h2>

        <!-- script to give functionality to submit button -->
        <script>
            //Function to insert values into the url
            function insertParam(key, value) {
                key = encodeURIComponent(key);
                value = encodeURIComponent(value);

                // kvp looks like ['key1=value1', 'key2=value2', ...]
                var kvp = document.location.search.substr(1).split('&');
                let i = 0;

                for (; i < kvp.length; i++) {
                    if (kvp[i].startsWith(key + '=')) {
                        let pair = kvp[i].split('=');
                        pair[1] = value;
                        kvp[i] = pair.join('=');
                        break;
                    }
                }

                if (i >= kvp.length) {
                    kvp[kvp.length] = [key, value].join('=');
                }

                // can return this or...
                let params = kvp.join('&');

                // reload page with new params
                document.location.search = params;
            }

            //writes new email to the url when submit button is clicked
            function writeEmail(){
                let emailFirst = document.getElementById("emailFirst").value
                let emailSecond = document.getElementById("emailSecond").value

                if(emailFirst == emailSecond){
                    insertParam("changedEmail", emailFirst)
                }
            }
        </script>

    </div>
</body>
</html>

