<html>
<head>
	<title> Tree game home page </title>
</head>
{% load static %}
<link rel ="stylesheet" href="{%static '/home/newpassword.css'%}">
<body>
	<div class = "banner">
        <!-- navigation bar -->
        <nav>
            <img src="{%static '/home/images/transparent.png'%}" class="logo">  
            <ul>
                <li><a href="/tree">My Tree</a></li>
                <li><a href="/map">Map</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/settings">Settings</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
            <img src="{%static '/home/images/transparent.png'%}" class="logo">
        </nav>

        <!-- Text asking user to change password -->
        <h1 class = "delete_account_h1">
            Change Password:
        </h1>

        <!-- getting the users new password -->
        <h4 class = "password_text">
            New password:
            <input type = "password" id = "pass1">
        </h4>

        <br>

        <!-- confirming the users new password -->
        <h4 class = "password_text"> 
            Confirmation:
            <input type = "password" id = "pass2">
        </h4>

        <!-- submit button -->
        <h2 class = "delete_account_button">
            <button onclick="writePass()" style="background-color: grey; color: black; border-color: grey;">Change Password</button>
        </h2>

        <!-- script to give function to submit button -->
        <script>
            //Function to insert values into the url
            function insertParam(key, value) {
                key = encodeURIComponent(key);
                value = encodeURIComponent(value);

                // kvp looks like ['key1=value1', 'key2=value2', ...]
                var kvp = document.location.search.substr(1).split('&');
                let i = 0;

                for (; i < kvp.length; i++) {
                    if (kvp[i].startsWith(key + '=')) {
                        let pair = kvp[i].split('=');
                        pair[1] = value;
                        kvp[i] = pair.join('=');
                        break;
                    }
                }

                if (i >= kvp.length) {
                    kvp[kvp.length] = [key, value].join('=');
                }

                // can return this or...
                let params = kvp.join('&');

                // reload page with new params
                document.location.search = params;
            }

            //Writes the users new password to the url
            function writePass(){
                let passFirst = document.getElementById("pass1").value
                let passSecond = document.getElementById("pass2").value

                if(passFirst == passSecond){
                    insertParam("changedPassword", passFirst)
                }
            }
        </script>

    </div>
</body>
</html>

