<html>
<head>
	<title> Tree game home page </title>
</head>
{% load static %}
<link rel ="stylesheet" href="{%static '/home/settings.css'%}">
<body>
	<div class = "banner">
        <nav>
            <img src="{%static '/home/images/transparent.png'%}" class="logo">  
            <ul>
                <li><a href="/tree">My Tree</a></li>
                <li><a href="/map">Map</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/about">About</a></li>
                <li class="page"><a href="/settings">Settings</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
            <img src="{%static '/home/images/transparent.png'%}" class="logo">
        </nav>
        <div class = "buttons_layout">
            <div class = "buttons">
                <li><a href="/deleteaccount">Delete Account</a></li>
            </div>
            <div class = "buttons">
                <li><a href="/newpassword">Change password</a></li>
            </div>
            <div class = "buttons">
                <li><a href="/newemail">Change email</a></li>
            </div>
            <div class = "buttons">
                <li><a href="/bottlesize">Bottle Size</a></li>
            </div>
        </div>
    </div>
</body>
</html>
