<html>

<head>
    <title> Tree Stats </title>
    
</head>
{% load static %}
<link rel="stylesheet" href="{%static '/home/treestats.css'%}">

<script>
    window.onload = function(){
        //parses JSON for tree when the page loads
        var data = JSON.parse("{{oxygen|escapejs}}");
        var oxygen = data["Oxygen"];
        var water = data["Water"];
        document.getElementById("oxygen").innerHTML = oxygen;
        document.getElementById("water").innerHTML = water;
    };
    
</script>
<body>
    <div class="banner">
    {% if user.is_authenticated %}
        {% block content %}
                <nav>
                    <img src="{%static '/home/images/transparent.png'%}" class="logo">
                    <ul>
                        <li class="page"><a href="/tree">My Tree</a></li>
                        <li><a href="/map">Map</a></li>
                        <li><a href="/leaderboard">Leaderboard</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/settings">Settings</a></li>
                        <li><a href="/">Logout</a></li>
                    </ul>
                    <img src="{%static '/home/images/transparent.png'%}" class="logo">
                </nav>
            </div>
            <div class="block">
                <div class="box">
                    <p class="number">
                        <span class="num" id="oxygen"></span>
                        <span class="sub">LVL</span>
                    </p>
                    <p class="title">Oxygen</p>
                </div>
                <span class="dots"></span>
                <svg class="svg">
                    <defs>
                        <linearGradient id="gradientStyle">
                            <stop offset="0%" stop-color="#565656" />
                            <stop offset="100%" stop-color="#b7b5b5" />
                        </linearGradient>
                    </defs>
                    <circle class="circle" cx="90" cy="90" r="80" />
                </svg>
            </div>
            <div class="block">
                <div class="box">
                    <p class="number">
                        
                        <span class="num" id="water"></span>
                        <span class="sub">%</span>
                    </p>
                    <p class="title">Water</p>
                </div>
                <span class="dots"></span>
                <svg class="svg">
                    <circle class="circle" cx="90" cy="90" r="80" />
                </svg>
            </div>
            <div class="block">
                <div class="box">
                    <p class="number">
                        
                        <span class="" id="water"></span> <!-- The value for recycling goes into the first 'span class = ""'-->
                        <span class="sub">ML</span>
                    </p>
                    <p class="title">Recycling</p>
                </div>
                <span class="dots"></span>
                <svg class="svg">
                    <circle class="circle" cx="90" cy="90" r="80" />
                </svg>
            </div>
            <div class="block">
                <div class="box">
                    <p class="number">
                        
                        <span class="" id="water"></span> <!-- The value for water consumed goes into the first 'span class = ""'-->
                        <span class="sub">ML</span>
                    </p>
                    <p class="title">Water Consumed</p>
                </div>
                <span class="dots"></span>
                <svg class="svg">
                    <circle class="circle" cx="90" cy="90" r="80" />
                </svg>
            </div>
            <script>
                const block = document.querySelectorAll('.block');
                window.addEventListener('load', function () {
                    block.forEach(item => {
                        let numElement = item.querySelector('.num');
                        let num = parseInt(numElement.innerText);
                        let count = 0;
                        let time = 1500 / num;
                        let circle = item.querySelector('.circle');

                        setInterval(() => {
                            if (count == num) {
                                clearInterval();
                            } else {
                                count += 1;
                                numElement.innerText = count;
                            }

                        }, time)

                        circle.style.strokeDashoffset
                            = 503 - (503 * (num / 100));

                        let dots = item.querySelector('.dots');
                        dots.style.transform = `rotate(${360 * (num / 100)}deg)`;
                    })
                });
            </script>
            
            
            
            <!-- <div class = "hover"> -->
                <script>
                    //script for getting current location

                    //function to add values to the page url
                    function insertParam(key, value) {
                        key = encodeURIComponent(key);
                        value = encodeURIComponent(value);

                        // kvp looks like ['key1=value1', 'key2=value2', ...]
                        var kvp = document.location.search.substr(1).split('&');
                        let i = 0;

                        for (; i < kvp.length; i++) {
                            if (kvp[i].startsWith(key + '=')) {
                                let pair = kvp[i].split('=');
                                pair[1] = value;
                                kvp[i] = pair.join('=');
                                break;
                            }
                        }

                        if (i >= kvp.length) {
                            kvp[kvp.length] = [key, value].join('=');
                        }

                        // can return this or...
                        let params = kvp.join('&');

                        // reload page with new params
                        document.location.search = params;
                    }

                    //Code for getting current location

                    //Creating the button
                    const locationButton = document.createElement("button");
                    locationButton.style.position = "relative";
                    locationButton.style.border = "transparent";
                    locationButton.style.right = "182";
                    locationButton.style.backgroundColor = "transparent";
                    locationButton.style.color = "white";
                    locationButton.style.font = "Roboto";
                    locationButton.style.cursor = "pointer";
                    locationButton.style.top = "85";
                    locationButton.style.fontSize = "200%";
                    locationButton.style.fontWeight = "bold";
                    locationButton.style.borderRadius = "3px";
                    locationButton.style.transition = "0.6s ease-in-out";
                    locationButton.style.backgroundColor = "#222121";
                    locationButton.style.boxShadow = "5px 10px 30px rgba(0, 0, 0, 0.25)" /*rgba(0, 59, 0, 0.397)"*/;
                    locationButton.textContent = "Get current location";
                    
                    locationButton.classList.add("custom-map-control-button");
                    document.body.appendChild(locationButton)

                    //Function of the button
                    locationButton.addEventListener("click", () => {
                        // Try HTML5 geolocation.
                        if (navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(
                                (position) => {
                                    const pos = {
                                        lat: position.coords.latitude,
                                        lng: position.coords.longitude,
                                    };

                                    //Adds the cords the url
                                    insertParam("cords:", String(pos.lat) + "," + String(pos.lng))
                                },
                                () => {
                                    handleLocationError(true, infoWindow, map.getCenter());
                                }
                            );
                        } else {
                            // Browser doesn't support Geolocation
                            handleLocationError(false, infoWindow, map.getCenter());
                        }
                    });

                </script>
            <!--</div>-->
            
        

            <canvas>
            </canvas>
            <script>

                var data = JSON.parse("{{oxygen|escapejs}}");
                var oxygen = data["Oxygen"];
                var water = data["Water"];


                const canvas = document.querySelector('canvas');
                canvas.width = window.innerWidth;
                canvas.height = 1150;
                const ctx = canvas.getContext('2d');
                

                
                //color1 body, color2 leaves
                function drawTree(startX, startY, len, angle, branchWidth, color1, color2) {
                    ctx.beginPath();
                    ctx.save();
                    ctx.strokeStyle = color1;
                    ctx.fillStyle = color2;
                    ctx.lineWidth = branchWidth;
                    ctx.translate(startX, startY);
                    ctx.rotate(angle * Math.PI/180);
                    ctx.moveTo(0, 0);
                
                    //len is negative for tree to grow upwards
                    ctx.lineTo(0, -len);
                
                    
                    ctx.stroke();
                
                    //stops drawing when length of tree section is too small
                    if (len < 10) {
                        ctx.beginPath();
                        ctx.arc(0,-len, 10,0, Math.PI/2);
                        ctx.fill();
                        ctx.restore();
                        return;
                    }
                
                    curve = (Math.random() * 10) + 10;
                    
                    //Getting value for oxygen to determine tree size
                    var data = JSON.parse("{{oxygen|escapejs}}");
                    var oxygen = data["Oxygen"];

                    //Drawing the tree
                    //min len 0.7, max len 0.85
                    //0.15/100 * oxygen + 0.7 is the formula for the lenght of the branches of tree
                    drawTree(0, -len, len*(0.15/100 * oxygen + 0.7), angle + 7, branchWidth * 0.50);
                    drawTree(0, -len, len*(0.15/100 * oxygen + 0.7), angle- 7, branchWidth * 0.50);
                    ctx.restore();
                }
                drawTree(canvas.width/2, canvas.height/2 - 100,80,0, 10, 'brown', 'pink');
                
                
                </script>
        {% endblock %}
    {% else %}
        <p class="loggedIn"> Sorry you are not logged in, login <a href="/login">here </a></p>
    {% endif %}
    

   


</body>

</html>
