<html>
<head>
	<title> Tree game home page </title>
</head>
{% load static %}
<link rel ="stylesheet" href="{%static '/home/homestyle.css'%}">
<body>
	<div class = "banner">
        <div class="content">
            <h1 class = "tree"> {% block title %}
                Create account
                {% endblock %} 
            </h1>
            <h2> 
				{% load crispy_forms_tags %}
{% block content %}
    <form method="post" class="form-group">
	    {% csrf_token %}
	    {{ form|crispy }}
	    <button type="submit" class="btn btn-success">Register</button>
    </form>
{% endblock %}
            </h2>
        </div>
    </div>
</body>
</html>