* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
	
}
.banner {
  height: 100vh;
  width: 100%;
  background: url('images/background.jpeg');
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  font-size: 20px;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

.logo {
  width: 120px;
  cursor: pointer;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #abffa0;
  transition: .3s;
}

.home {
  font-size: 145px;
}

.about {
  color: white;
}

.tree {
  font-size: 75px;
  margin-top: -300px;
}

.center {
  padding: 0 40px;
  box-sizing: border-box;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #e2f5e0;
}

.content p {
  margin: 35px auto;
  font-weight: 100;
  line-height: 25px;
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #4cc3a7;
  background: transparent;
  color: #fff;
  top: 100;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span {
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.delete-account-h1 {
  text-align: center;
  align-items: center;
  font-size: 40px;
  color: white;
  text-decoration: underline white;
}

.delete-account-h2 {
  text-align: center;
  align-items: center;
  color: white;
  font-size: 20px;
}

.delete-account-button {
  background-color: lightgreen;
  border: none;
  color: pink;
  padding: 15px 32px;
  top: 100;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  border-radius: 25px;
  position: relative;	
  font-size: 28px;
  right: -625;
  display: inline-block;
  position: relative;
  border: transparent;
  font: Roboto;
  cursor: pointer;
  font-size:200%;
  font-weight: bold;
}

.delete-account-button:hover {
  color: #abffa0;
  transition: .3s;
}

button:hover span {
  width: 100%;
}

<<<<<<< Updated upstream
button:hover{
	border: none;
}
=======
button:hover {
  border: none;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.lboard-section {
  width: 500px;
  height: 400px;
  margin: 100px auto 0;
  background: #f94f62;
  padding: 25px 40px;
  position: relative;
  top: -90%;
  border-radius: 5px;
}

.lboard-section .lboard-tabs ul {
  display: flex;
}

.lboard-section .lboard-tabs ul li {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 600;
  color: #3a3d51;
  cursor: pointer;
}

.lboard-section .lboard-tabs ul li:hover,
.lboard-section .lboard-tabs ul li.active {
  color: #fff;
}

.lboard-wrap {
  position: absolute;
  top: 70px;
  left: 40px;
  background: #ffd300;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.lboard-wrap .lboard-item {
  padding: 25px;
}

.lboard-wrap .lboard-mem {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ffe773;
}

.lboard-wrap .lboard-mem:first-child {
  padding-top: 0;
}

.lboard-wrap .lboard-mem:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.lboard-wrap .lboard-mem .img {
  width: 50px;
}

.lboard-wrap .lboard-mem img {
  display: block;
  width: 100%;
}

.lboard-wrap .lboard-mem .name-bar {
  margin: 0 20px;
  width: calc(100% - 150px);
}

.lboard-wrap .lboard-mem .name-bar p {
  color: #3a3d51;
}

.lboard-wrap .lboard-mem .name-bar p span {
  margin-right: 5px;
}

.lboard-wrap .lboard-mem .points {
  width: 100px;
  color: #3a3d51;
}

.lboard-wrap .lboard-mem .name-bar .bar-wrap {
  width: 100%;
  height: 5px;
  background: #d5b000;
  margin-top: 5px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.lboard-wrap .lboard-mem .name-bar .bar-wrap .inner-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
>>>>>>> Stashed changes
