
body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(images/background.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

form{
    display: block;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 200%;
    font-size: 16px;
    color: white;
    padding-top: 120px;
    padding-left: 25%;
    padding-right: 30%;
}

.login{
    display: block;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-size: 22px;
    color: white;
    padding-top: 130px;
    padding-left: 25%;
    padding-right: 30%;
    translate: 0px 120px
    }


.logo{
    width: 120px;
    cursor: pointer;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: #abffa0;
    transition: .3s;
}


button{
    width: 300px;
    padding: 5px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: #4cc3a7;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 22px;
}
span{
    background: #009688;
    height: 110%;
    width:0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}



