*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
	
}
.banner{
	height: 100vh;
	width: 100%;
	background: url('images/background.jpeg');
	background-size: cover;
	background-position: center;
}

nav{
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	font-size: 20px;
	padding-top: 40px;
	padding-left: 10%;
	padding-right: 10%;
}

.logo{
	width: 120px;
	cursor: pointer;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
}

nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

nav ul li a:hover{
	color: #abffa0;
	transition: .3s;
}

span{
	background: #009688;
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;

}

.deleteAccountH1{
	text-align: center;
	align-items: center;
    position: relative;
	font-size: 40px;
    top: 50px;
	color: white;
	text-decoration: underline white;
}

.deleteAccountH2{
	text-align: center;
	align-items: center;
	color: white;
	font-size: 20px;
}

.deleteAccountH1{
	text-align: center;
	align-items: center;
	font-size: 40px;
	color: white;
    position: relative;
    top: 0;
	text-decoration: underline white;
}

.deleteAccountH2{
	text-align: center;
	align-items: center;
    position: relative;
	color: white;
	font-size: 20px;
}

.deleteAccountButton{
	background-color: red;
  	border: none;
	color: pink;
	padding: 15px 32px;
	top: 100;
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	border-radius: 25px;
	position: relative;	
	font-size: 28px;
	right: -625;
	display: inline-block;
	position: relative;
    border: transparent;
    font: Roboto;
    cursor: pointer;
    font-size:200%;
    font-weight: bold;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited{
	color: white;
}

a:hover{
	color: black;
	transition: 0.3s;
}

button:hover span{
	width: 100%;
}

button:hover{
	border: none;
}


.password_text{
    text-align: center;
	align-items: center;
    position: relative;
	font-size: 15px;
    right: 0px;
    top: 80px;
	color: white;
}

.deleteAccountButton{
	background-color: grey;
  	border: none;
	color: White;
	padding: 2px 30px;
	top: 100;
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	border-radius: 50px;
	position: relative;	
	font-size: 18px;
	right: -700;
	display: inline-block;
	position: relative;
    border: transparent;
    font: Roboto;
    cursor: pointer;
    font-size:125%;
    font-weight: bold;
}
