*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    align-items: center;
    position: relative;
    line-height: 2.25;
	
}
.banner{
	height: 100vh;
	width: 100%;
	background: url('images/background.jpeg');
	background-size: cover;
	background-position: center;
}

nav{
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	font-size: 20px;
	padding-top: 40px;
	padding-left: 10%;	
	padding-right: 10%;
}

.logo{
	width: 120px;
	cursor: pointer;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
}

nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

nav ul li a:hover{
	color: #abffa0;
	transition: .3s;
}

.about{
	color: white;
	max-width: 1000;
	right: -250;
}

.buttons {
	background-color: #32ba3a;
  	border: none;
	color: pink;
	position: relative;
	padding: 0px 26px;
	margin: -100px 30px 100px 10px;
	top: 100;
	text-decoration: none;
	list-style-type: none;
	border-radius: 25px;	
	font-size: 20px;
	right: -625;
	display: inline-block;
	position: relative;
    border: transparent;
    font: Roboto;
    cursor: pointer;
    font-size:200%;	
    font-weight: bold;
}

.buttons_layout{
	position: relative;
	right: 425;
}

a:link {
	text-decoration: none;
}

a:hover{
	color: black;
	transition: .3s;
}

a:visited{
	color:white;
}

