*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color:#333;
    list-style-type: none;
    text-decoration: none;
}

body{
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    min-height: 100vh;
    padding: 0px;
    background: url(images/graphic-tree-hill_46176-136-_1_.jpg);
	background-size: cover;
	background-position: center;
    position: fixed;
}

.block{
    /*display: flex;*/
    right: -380;
    top: 10;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    top: -45;
}

.box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    border-radius: 50%;
    background-color: #292929;
    box-shadow: 0 0 5px 3px #222121;
}

.box::before {
    position: absolute;
    content: '';
    width: calc(100% + 28px);
    height: calc(100% + 28px);
    border-radius: 50%;
    border: 1px solid #353535;
}

.box .number span{
    color: #ffffff;
}

.box .number .num{
    font-size: 35px;
    font-weight: bold;
}

.box .number .sub {
    font-size: 20px;
}

.box .title{
    font-size: 15px;
    color: #9b9b9b; /* 9b9b9b*/
}


.dots {
    display: block;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: 1.5s transform, 1.5s opacity ease;
}

.dots::after{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 5px;
    left: 50%;
    border-radius: 50%;
    background-color: #b7b5b5; /* b7b5b5*/
    box-shadow: 0 0 5px 2px #585858; /* #585858*/
    transform: translateX(-50%);

}

.svg{
    position: absolute;
    width: 100%;
    height: 100%;
    fill: none;
    transform: rotate(-90deg);
}

.circle{
    stroke: url(#gradientStyle);
    stroke-width: 4px;
    stroke-dasharray: 503;
    stroke-dashoffset: 503;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transition: 1.5s stroke-dashoffset;
}


nav{
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	font-size: 20px;
	padding-top: 40px;
	padding-left: 10%;
	padding-right: 10%;
    position: relative;
    top: -45;
}

.logo{
	width: 120px;
	cursor: pointer;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
}

nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

nav ul li a:hover{
	color: #abffa0;
	transition: .3s;
}

.loggedIn{
    color: red;
}

.page {
    background-color: orange;
    color: #fff;
    box-shadow: 5px 10px 30px white;
    align-items: right;
    justify-content: left;
}