{% block title %}
<head>
{% load static %}
	<link rel="stylesheet" href="{%static '/home/loginstyle.css'%}">
</head>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
	<body>
		<h1 class="login">Login Here</h1>
		<p>
			<form method="post" class="from-group">
				{% csrf_token %}
				{{ form| crispy}}
				<p>Don't have an account? Create one <a href="/register">here</a></p>
			<button type="submit" class="btn btn-success"><span></span>Login</button>	
			</form>
		</p>
	</body>
{% endblock %}   



